var DateFr = {

  getDate: function (time, splitStr) {

    if (!time) return '';

    var date = getDate(time);
    var M = date.getMonth() + 1;
    var y = date.getFullYear();
    var d = date.getDate();

    if (M < 10) M = "0" + M;
    if (d < 10) d = "0" + d;

    if (splitStr)
      return y + splitStr + M + splitStr + d;
    else
      return {
        y: y,
        M: M,
        d: d
      };
  },
  getDistance: function (distance) {
    var num = distance / 1000;
    return num ? num.toFixed(1) : '';
  },
  getSupportedLanguage: function (language) {
    return language.reduce(function(pre, curr){
      return pre + '/' + curr;
    })
  },
  formatTime: function (timestamp) {
    var date = getDate(timestamp);
    var year = date.getFullYear();
    var month = date.getMonth() + 1
    var day = date.getDate()
    var hour = date.getHours()
    var minute = date.getMinutes()
    var second = date.getSeconds()

    return [year, month, day].map(formatNumber).join('-') + ' ' + [hour, minute, second].map(formatNumber).join(':')
  },
  getSureDateText: function (type) {
    if (type === 1) {
      return '立刻确认'
    } else if (type === 2) {
      return '工作日3小时内确认'
    } else if (type === 3) {
      return '工作日1天内确认'
    } else if (type === 4) {
      return '工作日3天内确认'
    }
  }
}

function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

module.exports = {
  getDate: DateFr.getDate,
  getDistance: DateFr.getDistance,
  getSupportedLanguage: DateFr.getSupportedLanguage,
  formatTime: DateFr.formatTime,
  getSureDateText: DateFr.getSureDateText
}

